doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./style.min.css")
        title Document
        script(src="https://api-maps.yandex.ru/2.1/?apikey=68fff02c-011a-409b-ae0c-b33e7822bd3a&lang=ru_RU" type="text/javascript")
    body 
        main.main-felix
            .main-felix__header Виртуальный тур
            .main-felix__block 
                .main-felix__block-header Ленинский проспект, д. 99, г. Москва 
                .main-felix__block-address Новаторская (БКЛ, 1 мин пешком)
                .main-felix__block-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                .main-felix__block-contacts Контакты
                .main-felix__block-tour#leninMap
            .main-felix__block 
                .main-felix__block-header Ленинградский проспект, д. 66, г. Москва
                .main-felix__block-address Аэропорт (3 мин пешком)
                .main-felix__block-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                .main-felix__block-contacts Контакты
                .main-felix__block-tour
        script(src="./assets/js/main.min.js") 

